

.App {
  display: flex;
  flex-direction: row;
  padding: 30px;
  gap: 15px;
  background-color: #77bdf6;
}

.main-content {
  flex:2;
}

.Sidebar {
  flex: 1;
  display: flex;
  flex-direction: column; 
  gap: 30px;
}

.section1 {
  flex: 2;
  min-width: 0;
}

.section2 {
  flex: 1;
  min-width: 300px;
}


.header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #daf0ff;

} 
.dash-stats {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
}


.analytics {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  gap: 20px;
}

.city-chart {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre-chart {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.concert-list-header {
  margin-bottom: 20px;
  justify-content: left;
}

.concert-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.concert-list > div:nth-child(n+11) {
  display: none;
}


.concert-card {
  height: auto;
  min-height: 450px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #b9cff0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.concert-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(45, 100, 219, 0.3);
}

.concert-card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
}

.concert-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.2;
 
}

.concert-card p {
  margin: 3px 0;
  font-size: 0.9em;
}


.concert-link {
  text-decoration: none;
  color: inherit;
  display: block;
}


.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 12px;
  width: 140px;
}

.filter-bar select {
  width: 100%;
  min-width: 100px;
  padding: 4px;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #2d64db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-concerts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  margin: 40px 0 0 110px;
}

.no-concerts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  min-height: 150px;
  text-align: center;
  font-size: 1.2em;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #b9cff0;
  border-radius: 8px;
  background-color: #2d64db;
  color: white;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
}

.details-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89%;
}

.exclusive-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  min-height: 500px;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid #b9cff0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(45, 100, 219, 0.263);
}

.exclusive-card p  {
  width: 100%;
  text-align: left;
  font-weight: 400;
  color: #021848;
  margin-top: 18px;
}


.exclusive-card h1  {
 font-size: 40px;
 color: #013ec3;
}

.exclusive-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 15px;
}

.exclusive-card a  {
 padding-top: 5px;
}

.Dashboard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #2D64DB;
  text-decoration: none;
  font-weight: 600;
}

.back-button:hover {
  text-decoration: underline;
}