body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(19, 19, 19);
    color: rgb(139, 139, 139);
  }
}